@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
    box-sizing: border-box;
    
}

body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: Arial, sans-serif;
    background-image: url('tulip\ wallpaper.jpg');
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}


header {
    background-image: url(blue_pink_background.jpg);
    background-size:cover;
    height: 1080px;
    grid-column: 1/2;
    color: white;
    padding: 10px;
}

#menu-bar a{
    text-decoration: none;
    color: white;
}


h1 {
    font-family: 'Courgette', cursive;
    font-size: 20pt;
    display: flex;
    justify-content: center;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

main{
    padding:10px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    z-index: 100;
}

main section{
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: first baseline;
    flex-direction: column;
}

#quizzes{
    grid-column: 1/2;
    grid-row: 1/2;
    
}

#tutorials{
    grid-column: 1/2;
    grid-row: 2/3;
}

#homework{
    grid-column: 2/3;
    grid-row: 1/3;
}

#inspiration{
    grid-column: 1/2;
    grid-row: 3/4;
}

#class-exercises {
    grid-column: 2/3;
    grid-row: 3/6;
}

#quizzes:hover{
    background-color: #FFD523;
    transition: all 0.3s ease-out;
}