@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body{
    background-color: #8E4162;
    margin: 50px;
}

h1{
    font-family: 'Lora', serif;
    font-size: 25pt;
    color:white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-family: 'Lora', serif;
    color:white;
    font-size: 18pt;
}

nav a:hover{
    text-decoration: underline white;
}


main{
    margin:50px;
    background-color: #F5D6BA;
    border-radius: 50px;
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    
}

div{
    background-color: #BF6969;
    border-radius: 50px;
    min-height: 30px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25pt;

}

img {
    width: 100%;
    border-radius: 50px;
}