html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

#home {
    height: 1080px;
    background-color: #34344a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bio {
    height: 1080px;
    background-color: #80475E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#portfolio {
    height: 100vh;
    background-color: #CC5A71;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact {
    height: 100vh;
    background-color: #C6D8AF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}